<h1>Editing desenvolvedore</h1>

<%= render "form", desenvolvedore: @desenvolvedore %>

<br>

<div>
  <%= link_to "Show this desenvolvedore", @desenvolvedore %> |
  <%= link_to "Back to desenvolvedores", desenvolvedores_path %>
</div>
