<h1>Editing desenvolvedore</h1>

<%= render "form", desenvolvedore: @desenvolvedore %>

<br>

<div>
  <%= link_to "Mostrar este desenvolvedor", @desenvolvedore %> |
  <%= link_to "Voltar para desenvolvedores", desenvolvedores_path %>
</div>
