<p style="color: green"><%= notice %></p>

<h1>Desenvolvedores</h1>

<div id="desenvolvedores">
  <% @desenvolvedores.each do |desenvolvedore| %>
    <%= render desenvolvedore %>
    <p>
      <%= link_to "Mostrar este desenvolvedor", desenvolvedore %>
    </p>
  <% end %>
</div>

<%= link_to "Novo desenvolvedor", new_desenvolvedore_path %>
