<p style="color: green"><%= notice %></p>

<h1>Produtos</h1>

<div id="produtos">
  <% @produtos.each do |produto| %>
    <%= render produto %>
    <p>
      <%= link_to "Mostrar este produto", produto %>
    </p>
  <% end %>
</div>

<%= link_to "Novo produto", new_produto_path %>
